* {
  box-sizing: border-box;
}

#wrap {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
}
#header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#health-check {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 20px;
  cursor: pointer;
}
#health-check i {
  padding-bottom: 5px;
  font-size: 20px;
}
#health-check span {
  font-size: 12px;
}

#info-input {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 20px;
  cursor: pointer;
}
#info-input i {
  padding-bottom: 5px;
  font-size: 20px;
}
#info-input span {
  font-size: 12px;
}
#user-info {
  width: 350px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  left: 70px;
  background: #fff;
  text-align: center;
  padding: 10px;
  top: 30%;
}
#input-date {
  display: flex;
}
#amount {
  margin-right: 10px;
}
#price {
  margin-left: 10px;
}
#input-info {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.hide {
  display: none;
}
#info-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
#close-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#start-btn {
  margin: 0 auto;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border: 1px solid black;
  cursor: pointer;
}
#piece {
  border: none;
  outline: none;
  width: 50px;
  text-align: center;
}
#piece-box {
  border-bottom: 1px solid black;
}
#pack {
  border: none;
  outline: none;
  width: 50px;
  text-align: center;
}
#pack-box {
  border-bottom: 1px solid black;
}
#currentday {
  text-align: center;
  padding: 30px 0;
}
#timer-container {
  text-align: center;
}
#count-box {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
#number-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#money-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#end-btn {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border: 1px solid black;
  cursor: pointer;
}
#health-container {
}
#health-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#health-progress span {
  font-size: 12px;
}
#progress-bar {
  width: 50px;
  height: 5px;
  border: 1px solid black;
}
#gage {
  width: 0%;
  height: 100%;
  background-color: aqua;
  animation: gageAni 3s linear both;
}

@keyframes gageAni {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
